@import "./reset";

body {
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

.SectionMedecins,
.SectionPatients {
    display: block;
}

.display-table {
    display: table;
}

.display-none {
    display: none;
}
