@import "./reset";

body {
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

.MainHeader {
    width: 100%;
    height: 80px;
    background-color: rgb(71, 92, 161);
    display: flex;
    padding: 0 40px;
    align-items: center;
    justify-content: space-between;
    * {
        color: #fff;
        font-size: 24px;
    }
}

.btn {
    padding: 10px 0;
    font-size: 20px;
    color: #fff;
    border: 1px solid #fff;
    transition: background-color 80ms linear, color 50ms linear;
    &:hover {
        color: #fff;
        background-color: #222;
    }
}

.TableSelect {
    min-width: 250px;
}
